@model IEnumerable<RealState.Models.MakelaarObject>

@{
    ViewData["Title"] = "AgentStatistics";
}

<h2>AgentStatistics</h2>

@Html.ActionLink("View top 10 without garden", "TopAgents", new { isGardenChecked = false });

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MakelaarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectsNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MakelaarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectsNumber)
                </td>

            </tr>
        }
    </tbody>
</table>
